/* Card Styling */
.card {
  position: relative;
  z-index: 1;
  display: block;
  background: #ffffff;
  width: 98%;
  height: 320px;
  margin: 15px auto;
  font-family: 'Varela Round';
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.card .card-thumbnail {
  background: #000000;
  height: 320px;
  overflow: hidden;
}

.card .card-thumbnail::before {
  content: '';
  height: 180px;
  width: 100%;
  display: block;
}

.card .card-thumbnail .date {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  padding: 11px 0 0;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.card .card-thumbnail .date .day {
  font-size: 18px;
}

.card .card-thumbnail .date .month {
  font-size: 14px;
}

.card .card-content {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  padding: 20px 30px 30px 30px;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.card .card-content .category {
  position: absolute;
  top: -36px;
  left: 0;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.card .card-content .title {
  margin: 0;
  padding: 0 0 5px;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
}

.card .card-content .subtitle {
  margin: 0;
  padding: 0 0 15px;
  font-size: 15px;
  font-weight: 400;
}

.card .card-content .description {
  display: none;
  max-height: 0px;
  font-size: 14px;
  line-height: 1.8em;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  overflow: hidden;
  margin-bottom: 20px;
}

.card .card-content .card-information {
  color: #999999;
}

.card-content .card-information .author {
  font-size: 12px;
}

.card .card-content .card-information a {
  font-size: 15px;
  text-decoration: underline;
  color: #8a8a8a;
  font-weight: 700;
}

.card .card-content .card-information a:last-child {
  font-size: 12px;
}

/* Card Types */
.spoon-university .date, .spoon-university .category {
  background-color: #34c149;
}

.spoon-university .subtitle {
  color: #579b7f;
}

.healthier .date, .healthier .category {
  background-color: #fc8f17;
}

.healthier .subtitle {
  color: #e67e22;
}

/* Card Story Images */
.starbucks .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/098/322/medium/starbucksspoon.jpg?1485287193) no-repeat;
  background-position: -46px -43px;
  background-size: 385px;
}

.oreo-pie .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/161/324/medium/IMG_3108.jpg?1493839204) no-repeat;
  background-position: -1px -76px;
  background-size: 340px;
}

.oreo-pie .card-content {
  padding-top: 23px;
}

.oreo-pie .card-content .title {
  font-size: 18px;
}

.natural-mosquito .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/163/107/large/IMG_2928_%281%29.jpg?1495311266) no-repeat;
  background-position: -25px -48px;
  background-size: 385px;
}

.grab-n-go .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/159/682/medium/DSC_9948_edit.jpg?1492997475) no-repeat;
  background-position: -21px -58px;
  background-size: 360px;
}

.motivation-alive .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/163/881/large/IMG_5239.jpg?1495907590) no-repeat;
  background-position: 0px -29px;
  background-size: 340px;
}

.workout-results .card-thumbnail::before {
  background: url(https://s3.amazonaws.com/secretsaucefiles/photos/images/000/140/888/large/Screen_Shot_2017-02-22_at_4.35.50_PM.png?1488389979) no-repeat;
  background-position: -28px -43px;
  background-size: 385px;
}

