/* Homepage Content */
.main-content::before {
  display: none;
  content: 'mobile';
}

.main-content .content-wrapper {
  padding: 45px 4% 3em;
}

.trending {
  margin-top: 10px;
}

.title-card {
  line-height: 2;
  border-bottom: 1px solid #ecf0f1;
  font-family: system-ui;
}

.title-card .title {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  font-weight: 600;
  padding-right: 50px;
}

.title-card .more {
  float: right;
  padding-right: 10px;
  color: #95a5a6;
}

.card {
  width: 95%;
  height: 250px;
  margin: 10px auto;
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  .main-content .content-wrapper {
    margin-left: 100px;
    padding-top: 55px;
  }

  .main-content::before {
    content: 'tablet';
  }
}

@media only screen and (min-width: 1170px) {
  .main-content .content-wrapper {
    margin-left: 200px;
  }

  .main-content::before {
    content: 'desktop';
  }
}

